
__pycache__/
*.pyc

.venv

# Model files are now tracked by Git LFS
# results/bnn_plant_disease_model_20250628_125321.pth
# results/bnn_plant_disease_model_20250629_141950.pth
# results/bnn_plant_disease_model_20250629_131745.pth

